<form action="<%=users_url%>" method="post">
	<label for="user_email">Email</label>
	<input type="text" name="user[email]" id="user_email">
	<br>
	<label for="user_password">Password</label>
	<input type="password" name="user[password]" id="user_password">
	<br>
	<input type="submit" value="Create New User">	
</form>	

<a href="/session/new">Already have an account? Login here!</a>